body{
    margin: auto;
    width: 50%;
    background-color: #909090;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}

.container{
    background-color: #ffffff;
}

.title{
    text-align: center;
}

.title h2{
    margin: 0px;
    padding-top: 10px;
}

.calculator{
    margin: auto;
    width: 60%;
    padding: 20px;
}

.display{
    text-align: right;
    padding: 5px;
    background-color: greenyellow;
    border-color: gray;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
}

.lbl_display{
    color: gray;
    text-align: right;
}

.options{
    padding: 5px;
    border-color: gray;
    border-style: solid;
	border-width: 1px 1px 1px 1px;
}

.display, .options{
    margin-bottom: 5px;
}

.buttons{
    display: flex;
    justify-content: space-around;
}

.buttons button{
    padding: 0px 5px;
    margin: 1px;
    width: 100%;
    border-radius: 5px;
}

.operator{
    color: white;
    background-color: rgb(255, 118, 64);
}

.operator:hover{
    background-color: rgb(255, 65, 65);
}

.clean{
    color: white;
    background-color: rgb(0, 3, 184);
}

.clean:hover{
    background-color: rgb(64, 67, 255);
}

#equal{
    background-color: greenyellow;
}

#equal:hover{
    background-color: rgb(115, 170, 32);
    color: white;
}


/*.buttons button:hover{
    background-color: rgb(154, 241, 54);
}*/